<?xml version="1.0"?>
<config>
	<master 
		Name="NYC" 
		ComputerName="NYCMDTSRV"
		Domain="ABC.local"
		DsLocal="c:\DeploymentShare"
		Share="DeploymentShare$"
	/>
	
	<node 
		Name="Los Angeles" 
		Computername="LAMDTSRV" 
		Domain="ABC.local" 
		DsLocal="E:\DeploymentShare" 
		Share="DeploymentShare$" 
	/>
	
	<node 
		Name="Chicago" 
		Computername="CHGMDTSRV" 
		Domain="ABC.local" 
		DsLocal="D:\DeploymentShare" 
		Share="DeploymentShare$" 
	/>
</config>
